body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232628;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-picker {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

section {
  display: flex;
  gap: 12px;
  background-color: #2d3033;
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid #464a4f;

  button {
    display: flex;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    padding: 0;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}

span {
  color: #ffffff;
}

.calendar {
  width: 300px;
  padding: 20px;
  background-color: #2d3033;
  border-radius: 7px;
  border: 1px solid #464a4f;

  .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    button {
      display: flex;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.7);
      font-size: 20px;
      padding: 7px;
      border: 1px solid #464a4f;
      border-radius: 7px;
      cursor: pointer;
    }
  }

  .week {
    display: flex;
    justify-content: space-between;
  }

  .day {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.not-current {
      color: #4f5057;

      &:hover {
        background-color: #919294 !important;
      }
    }

    &:hover {
      background-color: #e9ecef;
      border-radius: 7px;
      color: #2d3033;
    }
  }

  .day-of-week {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    color: #71717a;
  }
}
